.menu-background {
  background-color: rgb(154, 183, 236);
  min-height: 100vh;
  padding: 0px 40px;
  position: relative;
  overflow: hidden;
}

.header {
  font-family: "Playfair Display", serif;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
  padding-top: 5px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.sub-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.language {
  text-align: center;
}

.language select {
  width: 200px;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  appearance: none;
  cursor: pointer;
  margin: 10px;
}

.language select:focus {
  outline: none;
  border-color: blue;
}

.language select + select {
  margin-left: 10px;
  margin-right: 10px;
}

.code-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}

.arrow-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
}

.arrow {
  text-align: center;
  font-size: 2rem;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.code-box,
.converted-code {
  width: calc(47% - 20px);
  margin: 0;
  padding: 0;
  max-width: 500px;
  min-width: 300px;
}

.code-box textarea,
.converted-code textarea {
  width: calc(100% - 24px);
  margin: 0;
  padding: 12px;
  font-family: "'Fira Code', 'Monaco', 'Menlo', 'Consolas', 'Courier New', monospace";
  font-size: "14px";
  background-color: "#282c34";
  color: "#abb2bf";
  line-height: "1.5";
  min-height: "350px";
  box-sizing: "border-box";
  border: "1px solid #ccc";
  border-radius: "4px";
  resize: "vertical";
  outline: "none";
  overflow: "auto";
}

@media screen and (max-width: 1200px) {
  .code-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .code-box,
  .converted-code {
    width: 90%;
    margin: 10px 0;
    text-align: center;
  }

  .arrow-container {
    display: none;
  }
}
